body {
  color: #565A5C;
  font-family: 'Roboto', sans-serif;
  background: #f0f0eb;
}

.box {
  background: #fff;
  border-top: 1px solid #e3e3df;
  border-bottom: 1px solid #e3e3df;
  padding: 15px;
  margin: 0 0 15px;
}


@media (min-width: 768px) {
  .box {
    border: 1px solid #e3e3df;
  }
}

@media (min-width: 1200px) {
  .slim-container {
    width: 950px;  
  }
}