@font-face {
  font-family: 'CircularAir';
  font-weight: normal;
  src: url("/fonts/circularair-book.woff");
}

@font-face {
  font-family: 'CircularAir';
  font-weight: 700;
  src: url("/fonts/circularair-bold.woff");
}