.listing-page {
  padding-bottom: 75px;

  .col-xs-12 {
    padding: 0;
  }

  .photo-slider {
    height: 310px;
    background: #111;
    position: relative;

    .item {
      height: 310px;
      overflow: hidden;
      position: relative;

      img {
        // height: 310px;
        // position: absolute;
        // top: -9999px;
        // bottom: -9999px;
        // left: -9999px;
        // right: -9999px;
        // margin: auto;
        max-height: 100%;  
        max-width: 100%; 
        width: auto;
        height: auto;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
      }
    }
  }

  .title {
    border-top-width: 0;
    border-bottom-color: #eee;

    .name, .price {
      font-size: 15px;
      font-weight: 700;
    }

    .price {
      color: #5EB238;
      letter-spacing: 0.5px;
    }
  }

  .make-offer {
    border-top-width: 0;
    padding: 12px 15px;

    a {
      font-weight: 700;
      line-height: 36px;
      padding: 0 12px;
    }
  }

  .details {
    .row {
      line-height: 40px;
      border-bottom: 1px solid #e3e3df;

      .col-xs-4 {
        background: #f5f5f5;

        label {
          font-weight: normal;
        }
      }
    }

    .row:last-child {
      border-bottom-width: 0;
    }
  }

  .seller-box {
    line-height: 20px;

    .avatar {
      margin-right: 10px;
      position: relative;

      .status-orb {
        width: 14px;
        height: 14px;
        background: #5EB238;
        border: 2px solid #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .username {
      display: block;
      font-weight: 700;
    }
  }

  .listing-actions {
    box-shadow: 0 -3px 0 #f0f0eb;

    a {
      display: block;
      color: #fff;
      font-weight: 700;
      background: #FF5E91;
      padding: 10px 15px;

      span {
        display: inline-block;
        line-height: 24px;
        margin-left: 5px;
      }
    }

    .flex-item:first-child a {
      border-right: 1px solid #f0f0eb;
    }
  }
}


@media (min-width: 768px) {
  .listing-page {
    padding-top: 25px;

    .col-xs-12 {
      padding-left: 15px;
      padding-right: 15px;
    }

    .photo-slider {
      height: 465px;

      .item, .item > img {
        height: 465px;
      }
    }
  }
}